@media only screen and (max-width: 600px) {
    header  {
        flex-flow: column;
        height: auto;
        padding: 1rem;

        form {
            width: 100%;
        }
    }

    nav {
        order: -1;
        margin-bottom: .5rem;
    }
}

@media only screen and (max-width: 1000px) {
    nav .link {
        display: none;
    }
}