@import "clean", "mixins", "reporter_vars", "default";

#dim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 5;
}

input[type=text], select {
    outline-color: $d-button-color-hover;
}

button, input[type=submit], input[type=button], .button {
    background: $d-button-color;
    color: $d-box-text-contrast-color !important;
    text-decoration: none !important;
    text-indent: 0;
    padding: 5px 10px 5px 10px;
    border-width: 0;
    cursor: pointer;

    &:hover, &:focus {
        background: $d-button-color-hover;
    }

    &:disabled {
        background: #eaeaea;
        color: #bfbfbf;
        cursor: not-allowed;

        &:hover, &:focus {
        }
    }
}

#s-bar {
    input[type=submit] {
        padding: 5px;
    }

    input[type=text] {
        padding: 3px 2px 3px 2px;
    }
}

#u-box {
    width: 48px;

    img {
        padding: 3px;
        width: 30px;
        height: 30px;
        border: 1px solid $d-border-cont;
        cursor: pointer;
    }
}

.c-bar {
    margin-top: 5px;
    background: #fff;
    box-sizing: border-box;
    float: left;
    width: 100%;
}

.img-1 {
    margin: 3px;
    padding: 3px;
    border: 1px solid #ccc;
    background: #fff;
}

.l-1 {
    label {
        &:first-child {
            font-weight: bold;
        }
    }

    li {
        &:nth-child(2n+3) {
            margin-top: 15px;
        }

        &:nth-child(2n+2) {
            margin-top: 5px;
        }
    }

    input + select {
        width: auto;
        margin-left: 5px;
    }
}

.l-2 {
    li:nth-child(2n+1) {
        display: inline;
    }
}

@import "chart", "reporter_media", "reporter_nav", "reporter_box", "reporter_table", "reporter_form", "reporter_tab";