[submodule "Docs"]
	path = Docs
	url = https://github.com/Orange-Management/Docs.git
[submodule "Modules"]
	path = Modules
	url = https://github.com/Orange-Management/Modules.git
[submodule "phpOMS"]
	path = phpOMS
	url = https://github.com/Orange-Management/phpOMS.git
[submodule "jsOMS"]
	path = jsOMS
	url = https://github.com/Orange-Management/jsOMS.git
[submodule "cssOMS"]
	path = cssOMS
	url = https://github.com/Orange-Management/cssOMS.git
[submodule "Documentation"]
	path = Documentation
	url = https://github.com/Orange-Management/Documentation.git
[submodule "Build"]
	path = Build
	url = https://github.com/Orange-Management/Build.git
[submodule "Developer-Guide"]
	path = Developer-Guide
	url = https://github.com/Orange-Management/Developer-Guide.git
[submodule "Resources"]
	path = Resources
	url = https://github.com/Orange-Management/Resources.git
[submodule "Demo"]
	path = Demo
	url = https://github.com/Orange-Management/Demo.git