* text=false
*.php ident

# Force the following filetypes to have unix eols, so Windows does not break them
*.php text eol=lf
*.js text eol=lf
*.sh text eol=lf
*.css text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.htaccess text eol=lf
*.json text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.pyc binary
*.pdf binary
*.dat binary
*.z binary