[submodule "phpOMS"]
	path = phpOMS
	url = https://github.com/Karaka-Management/phpOMS.git
[submodule "jsOMS"]
	path = jsOMS
	url = https://github.com/Karaka-Management/jsOMS.git
[submodule "cssOMS"]
	path = cssOMS
	url = https://github.com/Karaka-Management/cssOMS.git
[submodule "User-Guide"]
	path = User-Guide
	url = https://github.com/Karaka-Management/User-Guide.git
[submodule "Build"]
	path = Build
	url = https://github.com/Karaka-Management/Build.git
[submodule "Developer-Guide"]
	path = Developer-Guide
	url = https://github.com/Karaka-Management/Developer-Guide.git
[submodule "Resources"]
	path = Resources
	url = https://github.com/Karaka-Management/Resources.git
[submodule "Modules/Admin"]
	path = Modules/Admin
	url = https://github.com/Karaka-Management/oms-Admin.git
[submodule "Modules/Tools"]
	path = Modules/Tools
	url = https://github.com/Karaka-Management/oms-Tools.git
[submodule "Modules/Tag"]
	path = Modules/Tag
	url = https://github.com/Karaka-Management/oms-Tag.git
[submodule "Modules/Organization"]
	path = Modules/Organization
	url = https://github.com/Karaka-Management/oms-Organization.git
[submodule "Modules/Editor"]
	path = Modules/Editor
	url = https://github.com/Karaka-Management/oms-Editor.git
[submodule "Modules/Navigation"]
	path = Modules/Navigation
	url = https://github.com/Karaka-Management/oms-Navigation.git
[submodule "Modules/Auditor"]
	path = Modules/Auditor
	url = https://github.com/Karaka-Management/oms-Auditor.git
[submodule "Modules/News"]
	path = Modules/News
	url = https://github.com/Karaka-Management/oms-News.git
[submodule "Modules/Knowledgebase"]
	path = Modules/Knowledgebase
	url = https://github.com/Karaka-Management/oms-Knowledgebase.git
[submodule "Modules/Help"]
	path = Modules/Help
	url = https://github.com/Karaka-Management/oms-Help.git
[submodule "Modules/Helper"]
	path = Modules/Helper
	url = https://github.com/Karaka-Management/oms-Helper.git
[submodule "Modules/Monitoring"]
	path = Modules/Monitoring
	url = https://github.com/Karaka-Management/oms-Monitoring.git
[submodule "Modules/Tasks"]
	path = Modules/Tasks
	url = https://github.com/Karaka-Management/oms-Tasks.git
[submodule "Modules/Dashboard"]
	path = Modules/Dashboard
	url = https://github.com/Karaka-Management/oms-Dashboard.git
[submodule "Modules/Profile"]
	path = Modules/Profile
	url = https://github.com/Karaka-Management/oms-Profile.git
[submodule "Modules/Search"]
	path = Modules/Search
	url = https://github.com/Karaka-Management/oms-Search.git
[submodule "Modules/Calendar"]
	path = Modules/Calendar
	url = https://github.com/Karaka-Management/oms-Calendar.git
[submodule "Modules/Checklist"]
	path = Modules/Checklist
	url = https://github.com/Karaka-Management/oms-Checklist.git
[submodule "Modules/Kanban"]
	path = Modules/Kanban
	url = https://github.com/Karaka-Management/oms-Kanban.git
[submodule "Modules/MyPrivate"]
	path = Modules/MyPrivate
	url = https://github.com/Karaka-Management/oms-MyPrivate.git
[submodule "Modules/Marketing"]
	path = Modules/Marketing
	url = https://github.com/Karaka-Management/oms-Marketing.git
[submodule "Modules/EventManagement"]
	path = Modules/EventManagement
	url = https://github.com/Karaka-Management/oms-EventManagement.git
[submodule "Modules/ProjectManagement"]
	path = Modules/ProjectManagement
	url = https://github.com/Karaka-Management/oms-ProjectManagement.git
[submodule "Modules/RiskManagement"]
	path = Modules/RiskManagement
	url = https://github.com/Karaka-Management/oms-RiskManagement.git
[submodule "Modules/HumanResourceTimeRecording"]
	path = Modules/HumanResourceTimeRecording
	url = https://github.com/Karaka-Management/oms-HumanResourceTimeRecording.git
[submodule "Modules/HumanResourceManagement"]
	path = Modules/HumanResourceManagement
	url = https://github.com/Karaka-Management/oms-HumanResourceManagement.git
[submodule "Modules/Workflow"]
	path = Modules/Workflow
	url = https://github.com/Karaka-Management/oms-Workflow.git
[submodule "Modules/Media"]
	path = Modules/Media
	url = https://github.com/Karaka-Management/oms-Media.git
[submodule "Modules/Home"]
	path = Modules/Home
	url = https://github.com/Karaka-Management/oms-Home.git
[submodule "Modules/Database"]
	path = Modules/Database
	url = https://github.com/Karaka-Management/oms-Database.git
[submodule "Modules/DatabaseEditor"]
	path = Modules/DatabaseEditor
	url = https://github.com/Karaka-Management/oms-DatabaseEditor.git
[submodule "Modules/Draw"]
	path = Modules/Draw
	url = https://github.com/Karaka-Management/oms-Draw.git
[submodule "Modules/Contact"]
	path = Modules/Contact
	url = https://github.com/Karaka-Management/oms-Contact.git
[submodule "Modules/Comments"]
	path = Modules/Comments
	url = https://github.com/Karaka-Management/oms-Comments.git
[submodule "Modules/Exchange"]
	path = Modules/Exchange
	url = https://github.com/Karaka-Management/oms-Exchange.git
[submodule "Modules/QA"]
	path = Modules/QA
	url = https://github.com/Karaka-Management/oms-QA.git
[submodule "Modules/TestModule"]
	path = Modules/TestModule
	url = https://github.com/Karaka-Management/oms-TestModule.git
[submodule "Modules/CMS"]
	path = Modules/CMS
	url = https://github.com/Karaka-Management/oms-CMS.git
[submodule "Modules/Messages"]
	path = Modules/Messages
	url = https://github.com/Karaka-Management/oms-Messages.git
[submodule "Modules/Support"]
	path = Modules/Support
	url = https://github.com/Karaka-Management/oms-Support.git
[submodule "Modules/ClientManagement"]
	path = Modules/ClientManagement
	url = https://github.com/Karaka-Management/oms-ClientManagement.git
[submodule "Modules/SupplierManagement"]
	path = Modules/SupplierManagement
	url = https://github.com/Karaka-Management/oms-SupplierManagement.git
[submodule "Modules/ItemManagement"]
	path = Modules/ItemManagement
	url = https://github.com/Karaka-Management/oms-ItemManagement.git
[submodule "Modules/Purchase"]
	path = Modules/Purchase
	url = https://github.com/Karaka-Management/oms-Purchase.git
[submodule "Modules/Sales"]
	path = Modules/Sales
	url = https://github.com/Karaka-Management/oms-Sales.git
[submodule "Modules/Accounting"]
	path = Modules/Accounting
	url = https://github.com/Karaka-Management/oms-Accounting.git
[submodule "Modules/Billing"]
	path = Modules/Billing
	url = https://github.com/Karaka-Management/oms-Billing.git
[submodule "Modules/WarehouseManagement"]
	path = Modules/WarehouseManagement
	url = https://github.com/Karaka-Management/oms-WarehouseManagement.git
[submodule "Modules/ContractManagement"]
	path = Modules/ContractManagement
	url = https://github.com/Karaka-Management/oms-ContractManagement.git
[submodule "Modules/Shop"]
	path = Modules/Shop
	url = https://github.com/Karaka-Management/oms-Shop.git
[submodule "Modules/Surveys"]
	path = Modules/Surveys
	url = https://github.com/Karaka-Management/oms-Surveys.git
[submodule "cOMS"]
	path = cOMS
	url = https://github.com/Karaka-Management/cOMS.git
[submodule "Modules/QualityAssurance"]
	path = Modules/QualityAssurance
	url = https://github.com/Karaka-Management/oms-QualityAssurance.git
[submodule "Modules/QualityManagement"]
	path = Modules/QualityManagement
	url = https://github.com/Karaka-Management/oms-QualityManagement.git
[submodule "Modules/FleetManagement"]
	path = Modules/FleetManagement
	url = https://github.com/Karaka-Management/oms-FleetManagement.git
[submodule "Modules/QualityControl"]
	path = Modules/QualityControl
	url = https://github.com/Karaka-Management/oms-QualityControl.git
[submodule "Tools/OCRImageOptimizerApp"]
	path = Tools/OCRImageOptimizerApp
	url = https://github.com/Karaka-Management/OCRImageOptimizerApp.git
[submodule "Tools/TestReportGenerator"]
	path = Tools/TestReportGenerator
	url = https://github.com/Karaka-Management/TestReportGenerator.git
[submodule "Modules/OnlineResourceWatcher"]
	path = Modules/OnlineResourceWatcher
	url = https://github.com/Karaka-Management/oms-OnlineResourceWatcher.git
[submodule "Modules/InvestmentManagement"]
	path = Modules/InvestmentManagement
	url = https://github.com/Karaka-Management/oms-InvestmentManagement.git
[submodule "Modules/Finance"]
	path = Modules/Finance
	url = https://github.com/Karaka-Management/oms-Finance.git
[submodule "Modules/Payment"]
	path = Modules/Payment
	url = https://github.com/Karaka-Management/oms-Payment.git
[submodule "Modules/Attribute"]
	path = Modules/Attribute
	url = https://github.com/Karaka-Management/oms-Attribute.git
[submodule "Modules/Labeling"]
	path = Modules/Labeling
	url = https://github.com/Karaka-Management/oms-Labeling.git
[submodule "Modules/AssetManagement"]
	path = Modules/AssetManagement
	url = https://github.com/Karaka-Management/oms-AssetManagement.git
[submodule "Modules/BusinessExpenses"]
	path = Modules/BusinessExpenses
	url = https://github.com/Karaka-Management/oms-BusinessExpenses.git
[submodule "Modules/BudgetManagement"]
	path = Modules/BudgetManagement
	url = https://github.com/Karaka-Management/oms-BudgetManagement.git
[submodule "Modules/CashManagement"]
	path = Modules/CashManagement
	url = https://github.com/Karaka-Management/oms-CashManagement.git
[submodule "Modules/Balance"]
	path = Modules/Balance
	url = https://github.com/Karaka-Management/oms-Balance.git
[submodule "Modules/IncomeStatement"]
	path = Modules/IncomeStatement
	url = https://github.com/Karaka-Management/oms-IncomeStatement.git
[submodule "Modules/BankAccounting"]
	path = Modules/BankAccounting
	url = https://github.com/Karaka-Management/oms-BankAccounting.git
[submodule "Modules/Production"]
	path = Modules/Production
	url = https://github.com/Karaka-Management/oms-Production.git
[submodule "Modules/ResearchDevelopment"]
	path = Modules/ResearchDevelopment
	url = https://github.com/Karaka-Management/oms-ResearchDevelopment.git
[submodule "Modules/Controlling"]
	path = Modules/Controlling
	url = https://github.com/Karaka-Management/oms-Controlling.git
[submodule "Modules/StockTaking"]
	path = Modules/StockTaking
	url = https://github.com/Karaka-Management/oms-StockTaking.git
[submodule "Modules/LoanManagement"]
	path = Modules/LoanManagement
	url = https://github.com/Karaka-Management/oms-LoanManagement.git
[submodule "Modules/EquipmentManagement"]
	path = Modules/EquipmentManagement
	url = https://github.com/Karaka-Management/oms-EquipmentManagement.git
