/* Global */
$font-stack: arial, serif;
$font-color: #000;
$font-size: 1em;

$background-color: #fff;

$link-color: #fff;
$link-decoration: none;
$link-hover-color: #fff;
$link-hover-decoration: none;

/* Content Container */
$content-container-padding: 5px;
$content-container-color: #fff;

/* Content box */
$content-box-background-color: #fff;
$content-box-border-color: #000;
$content-box-margin: 5px;
$content-box-padding: 5px;
$content-box-font-size: 1em;
$content-box-font-color: #000;

/* Navigation */
$nav-top-background-color: #000;
$nav-top-font-color: #fff;
$nav-top-padding: 3px;

$nav-side-background-color: #000;
$nav-side-font-color: #fff;
$nav-side-padding: 3px;

$nav-main-background-color: #000;
$nav-main-font-color: #fff;
$nav-main-padding: 3px;

$nav-contentside-background-color: #000;
$nav-contentside-font-color: #fff;
$nav-contentside-padding: 3px;

/* Colors */
$red: #f00;
$green: #0f0;
$blue: #00f;
$yellow: #ff0;
$white: #fff;
$black: #000;
$pink: #f0f;
$purple: #7D26CD;

$content-border-color: #b7b7b7;
$content-borderlight-color: #dddddd;
$background-color: #e7ebf3;
$content-background-color: #f5f5ff;