@import "_mixins", "_vars";

.table {
    background: none;
    caption {
        color: #fff;
    }
    
    thead {
        color: #fff;
    }
    
    &.red {
        caption, thead {
            background: #B8312F;
        }
    }
    
    &.orange {
        caption, thead {
            background: #FBA026;
        }
    }
    
    &.green {
        caption, thead {
            background: #41A85F;
        }
    }
    
    &.blue {
        caption, thead {
            background: #2C82C9;
        }
    }
    
    &.white {
        caption, thead {
            background: #fff;
        }
    }
}

table.table {
    @include box-sizing(border-box);
    width: 100%;
    font-size: 0.9em;
    display: table;

    caption {
        background: #fff;
        border-right: 1px solid $content-border-color;
        border-left: 1px solid $content-border-color;
        border-top: 1px solid $content-border-color;

        padding: 5px;
    }

    td {
        padding: 5px 10px 5px 10px;
        white-space: nowrap;
    }

    tbody {
        td:first-child {
            border-left: 1px solid $content-border-color;
        }

        td:last-child {
            border-right: 1px solid $content-border-color;
        }

        td {
            border-top: 1px solid $content-border-color;
            @include box-shadow-top(#ffffff);
        }

        tr {
            height: 2rem;

            &:nth-of-type(2n) {
                background: #f8f8f8;
            }

            &:nth-of-type(2n+1) {
                background: #fff;
            }

            &:hover {
                background: #f0f0f0;
            }
        }

        a {
            display: block;
        }

        tr:last-child td {
            border-bottom: 1px solid $content-border-color;
        }
    }

    thead {
        background: #fff;

        td:first-child {
            border-left: 1px solid $content-border-color;
        }

        td:last-child {
            border-right: 1px solid $content-border-color;
        }
    }

    .empty {
        text-align: center;
        color: #d8d8d8;
    }

    tfoot {
        border: none;

        label {
            float: left;
        }

        select {
            width: auto;
            float: right;
            margin: 0;
            min-width: 0px;
        }

        td {
            text-align: center;
            padding-top: 10px;
        }
    }
}

table.list {
    th {
        text-align: left;
    }

    td {
        padding: 2px 5px 2px 5px;
    }
}

@media screen and (max-width: 600px) {
    table.table {
        border: 0;
        width: 100%;

        thead {
            display: none;
        }

        tbody {
            tr {
                height: auto;
                display: block;
                margin-bottom: .625em;

                &:last-child td {
                    border-bottom: none;

                    &:last-child {
                        border-bottom: 1px solid $content-border-color;
                    }
                }
            }

            td {
                border-left: 1px solid $content-border-color;
                border-right: 1px solid $content-border-color;
                display: block;
                font-size: .8rem;
                text-align: right;
                position: relative;
                height: 2rem;
                line-height: 2rem;

                &:before {
                    content: attr(data-label);
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    margin-left: 20px;
                    font-weight: bold;
                    display: inline-block;
                }
            }
        }
    }
}

.nobreak {
    white-space: nowrap;
}
