@import "_mixins", "_vars";

.tag {
    cursor: pointer;
    border: 1px solid $content-border-color;
    padding: 5px 10px 5px 10px;
    font-size: 0.7rem;
    color: #fff;
    display: inline-block;
    line-height: 1rem;
}
