$d-font-color: #000;
$d-border: 1px solid #000;
$d-base-color: #e74b3c;
$d-base-color-o: #2f2f2f;
$d-button-color: #e74b3c;
$d-button-color-hover: #f95b4c;
$d-box-color: #fff;
$d-box-text-contrast-color: #fff;
$d-cont-color: #eaecf0;
$d-nav-color: #fff;
$d-border-cont: #dadee2;
$d-nav-hover-color: #3f3f3f;
$d-nav-bg-color: #3f3f3f;
$d-link-color: #e74b3c;
$d-link-color-hover: #f95b4c;