@import "backend_vars.scss";

html, body {
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
    font-family: var(--font-family);
    font-display: swap;
    font-weight: 100;
    color: #000;
}

body {
    display: flex;
}

body > nav {
    width: 250px;
    overflow-y: auto;
    font-size: 0.8em;
    background: var(--nav-category-background);
    color: rgba(255, 255, 255, 0.8);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    user-select: none;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
    background: var(--main-background);
    overflow-x: auto; /* required for table overflow, otherwise tables in the portlet cause overflows */

    flex: 1;
    box-sizing: border-box;

    > header {
        background: var(--header-background);
        border-bottom: 1px solid var(--box-border);
        padding: 0 1rem 0 1rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        flex-flow: row;
        flex-shrink: 0;
        height: 65px;
        //box-shadow: 0 0 3px 1px rgba(72, 71, 114, 0.3);

        > form {
            display: flex;
            flex: 1;
            padding: 0 5px 0 5px;
            max-width: 800px;
        }

        .inputWrapper {
            flex: 1;
        }

        input[type=text] {
            width: 100%;
            background: rgba(255, 255, 255, 1);
            border: 1px solid var(--input-border);
            text-shadow: none;
            box-shadow: none;
            transition : border 500ms ease-out;
            outline: none;
            box-sizing: border-box;
            padding-left: 2rem;
        }
    }
}

#logo {
    height: 100%;
    flex: 1;
    text-align: right;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-left: 1rem;

    select {
        background: var(--nav-category-background);
        color: rgba(255, 255, 255, 0.8);
        font-size: .8rem;
    }
}

#nav-side-settings {
    margin-bottom: .3rem;

    label {
        color: rgba(255, 255, 255, 0.8);
        cursor: pointer;

        .fa-volume-up {
            display: none;
        }

        .fa-volume-down {
            display: inherit;
        }
    }

    i {
        font-size: 1rem;
    }

    label+input+label {
        margin-left: .3rem;
    }

    input {
        display: none;

        &:checked {
            & + label {
                color: var(--nav-sub-background-highlight);

                .fa-volume-up {
                    display: inherit;
                }

                .fa-volume-down {
                    display: none;
                }
            }
        }
    }
}

.ham-trigger {
    display: flex;
    color: #000;
    align-items: center;
    flex: 0;
    margin-right: 5px;

    i {
        font-size: 1.5rem;
    }
}

nav .ham-trigger {
    color: var(--text-on-background-color-2);
    margin: 0 0 0 5px;
    display: none;
}

#t-nav-container {
    margin-left: auto;
}

#content {
    display: flex;
    flex: 1;
    padding: 0 0 1rem 1rem;
    overflow-y: auto;
    flex-direction: column;
}

#t-nav {
    font-size: .8rem;
    color: #000;
    font-weight: 300;

    a {
        padding: 0 5px 0 5px;
        line-height: 25px;

        &:hover, &:focus {
            color: var(--link-hover);
        }
    }

    i {
        margin-right: 5px;
    }

    li {
        display: inline;
    }
}

#dim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 5;
}

#u-box {
    display: flex;
    align-items: center;
    padding: 0 1rem 0 1rem;
    height: 65px;
    border-bottom: 1px solid #212628;
    box-sizing: border-box;
    flex-shrink: 0;

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #fff;
    }

    a {
        display: inline-block;
    }
}

img.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
}

#iSearchType {
    min-width: 50px;
    background: var(--button-colored-background);
    color: var(--text-on-background-color-2);
    width: auto;
    height: 30px;
    border: none;

    &::-moz-focus-inner {
        border: 0;
    }

    &:hover, &:focus {
        background: var(--button-colored-background-hover);
    }

    label {
        color: var(--text-on-background-color-2);
    }

    .dropdown-closed {
        justify-content: center;
        padding: 0 1rem 0 1rem;
    }

    .dropdown-container {
        background: var(--button-colored-background);
        border: 0;
        white-space: nowrap;

        label {
            &:hover, &:focus {
                background: var(--button-colored-background-hover);
            }
        }
    }
}

#app-message-container {
    position: absolute;
    margin: 0 auto;
    right: 10px;
    top: 85px;
    padding: 0;

    .log-msg {
        z-index: 11;
        margin: 0 auto;
        right: 0;
        top: 0;
        margin-bottom: 10px;
    }
}

.log-msg {
    position: relative;

    .close {
        position: absolute;
        top: 5px;
        right: 5px;
    }
}

@import "backend_media.scss";