:root {
    --main-background: rgb(246, 246, 246);
    --main-background-highlight: #3697db;

    --input-border: rgba(218, 218, 218, 0.4);
    --input-border-active: rgba(54, 150, 219, 0.7);
    --input-color: rgba(0, 0, 0, 0.7);
    --input-color-active: rgba(0, 0, 0, 0.8);
    --input-background: rgba(255, 255, 255);
    --input-background-active: rgba(255, 255, 255);

    --input-icon-color: rgba(54, 150, 219, .6);
    --input-icon-color-active: rgba(54, 150, 219, 1);

    --button-main-background: rgba(166, 135, 232, .6);
    --button-main-background-active: rgba(166, 135, 232, .8);
    --button-main-color: rgba(255, 255, 255, .9);

    --text-on-background-color: rgba(255, 255, 255, 0.7);
    --text-on-background-color-2: rgba(255, 255, 255, 0.85);

    --nav-category-background: #343a40;
    --nav-category-background-highlight: #3697db;
    --nav-category-background-hover: #434a51;

    --nav-sub-background: #343A40;
    --nav-sub-background-highlight: #3697db;
    --nav-sub-background-hover: rgb(42, 43, 48);

    --nav-header-background: rgb(72, 39, 102);
    --nav-header-background-highlight: #343A40;
    --nav-header-background-hover: rgb(116, 67, 161);

    --nav-content-hover: #3697db;

    --font-family: 'Roboto', sans-serif;

    --button-colored-background: #3697db;
    --button-colored-background-hover: #4aabf0;

    --table-caption-background: rgb(255, 255, 255);
    --table-head-background: #e6ecf1;
    --table-row-background: rgb(255, 255, 255);
    --table-row-background-alt: rgb(255, 255, 255);
    --table-row-background-hover: #d4eeff;

    --link-color: #3697db;
    --link-hover: #3697db;

    --badge-size: .55rem;
    --badge-color: rgb(255, 255, 255);
    --badge-background: #3697db;

    --box-border: #ebedf2;
    --box-highlight: #3697db;

    --color-blue: #3697db;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
    --color-yellow: #ffde5b;

    --header-background: rgb(255, 255, 255);
}
