:root {
    --main-bg: rgb(246, 246, 246);
    --main-bg-hl: #3697db;

    --iborder: rgba(140, 140, 140, 0.4);
    --iborder-active: rgba(54, 150, 219, 0.7);
    --ipt-c: rgba(0, 0, 0, 0.8);
    --ipt-c-active: rgba(0, 0, 0, 0.8);
    --ipt-bg: rgba(255, 255, 255);
    --ipt-bg-active: rgba(255, 255, 255);

    --ipt-ico-c: rgba(54, 150, 219, .6);
    --ipt-ico-c-active: rgba(54, 150, 219, 1);

    --btn-main-bg: #3697db;
    --btn-main-bg-active: #4aabf0;
    --btn-main-c: rgba(255, 255, 255, .9);

    --txt-on-bg-c: rgba(255, 255, 255, 0.7);
    --txt-on-bg-c-2: rgba(255, 255, 255, 0.85);

    --nav-cat-bg: #343a40;
    --nav-cat-bg-hl: #3697db;
    --nav-cat-bg-hover: #434a51;

    --nav-sub-bg: #343A40;
    --nav-sub-bg-hl: #3697db;
    --nav-sub-bg-hover: rgb(42, 43, 48);

    --nav-content-hover: #3697db;

    --ff: 'Arial', Helvetica, sans-serif;

    --btn-c-bg: #3697db;
    --btn-c-bg-hover: #4aabf0;

    --tcaption-bg: rgb(255, 255, 255);
    --thead-bg: rgba(54, 150, 219, 1);
    --thead-c: #fff;
    --trow-bg: rgb(255, 255, 255);
    --trow-bg-alt: rgb(255, 255, 255);
    --trow-bg-hover: #d4eeff;

    --link-c: #3697db;
    --lhover: #3697db;

    --badge-size: .55rem;
    --badge-c: rgb(255, 255, 255);
    --badge-bg: #e74c3c;

    --bborder: rgba(72, 71, 114, 0.3);
    --box-hl: #3697db;

    --color-blue: #3697db;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
    --color-yellow: #ffde5b;
    --color-purple: #7f5bff;
    --color-pink: #ff5bef;
    --color-orange: #ffa82e;

    --header-bg: rgb(255, 255, 255);
}
