:root {
  --main-background: rgb(246, 246, 246);
  --main-background-highlight: rgb(158, 81, 197);
  --input-border: rgba(166, 135, 232, .4);
  --input-border-active: rgba(166, 135, 232, .7);
  --input-color: rgb(116, 67, 161);
  --input-color-active: rgb(94, 52, 133);
  --input-background: rgba(255, 255, 255);
  --input-background-active: rgba(255, 255, 255);
  --input-icon-color: rgba(166, 135, 232, .6);
  --input-icon-color-active: rgba(166, 135, 232, 1);
  --button-main-background: rgba(166, 135, 232, .6);
  --button-main-background-active: rgba(166, 135, 232, .8);
  --button-main-color: rgba(255, 255, 255, .9);
  --text-on-background-color: rgba(255, 255, 255, 0.7);
  --text-on-background-color-2: rgba(255, 255, 255, 0.85);
  --nav-category-background: #343A40;
  --nav-category-background-highlight: rgb(113, 43, 145);
  --nav-category-background-hover: rgb(120, 50, 153);
  --nav-sub-background: rgb(72, 39, 102);
  --nav-sub-background-highlight: #343A40;
  --nav-sub-background-hover: rgb(116, 67, 161);
  --nav-header-background: rgb(72, 39, 102);
  --nav-header-background-highlight: #343A40;
  --nav-header-background-hover: rgb(116, 67, 161);
  --nav-content-hover: rgb(177, 97, 218);
  --font-family: 'Roboto', sans-serif;
  --button-colored-background: rgb(158, 81, 197);
  --button-colored-background-hover: rgb(177, 97, 218);
  --table-caption-background: rgb(255, 255, 255);
  --table-head-background: rgb(236, 232, 255);
  --table-row-background: rgb(255, 255, 255);
  --table-row-background-alt: rgb(255, 255, 255);
  --table-row-background-hover: rgb(220, 211, 255);
  --link-color: rgb(72, 39, 102);
  --link-hover: rgb(158, 81, 197);
  --badge-size: .55rem;
  --badge-color: rgb(255, 255, 255);
  --badge-background: rgb(158, 81, 197);
  --box-border: #ebedf2;
  --header-background: rgb(255, 255, 255); }
