@import "backend_vars.scss";

html, body {
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
    font-family: var(--ff);
    font-weight: 100;
    color: #000;
}

body, body > nav, main, main > header, main > header > form, #logo, #content {
    display: flex;
}

body > nav, main, #logo, #content {
    flex-direction: column;
}

body > nav {
    width: 250px;
    overflow-y: auto;
    font-size: 0.8em;
    background: var(--nav-cat-bg);
    color: rgba(255, 255, 255, 0.8);
    flex-shrink: 0;
    user-select: none;
}

main {
    max-width: 100%;
    height: 100%;
    background: var(--main-bg);
    overflow-x: auto; /* required for table overflow, otherwise tables in the portlet cause overflows */
    flex: 1;
    box-sizing: border-box;

    > header {
        background: var(--header-bg);
        border-bottom: 1px solid var(--bborder);
        padding: 0 1rem 0 1rem;
        box-sizing: border-box;
        align-items: center;
        flex-flow: row;
        flex-shrink: 0;
        height: 65px;

        > form {
            flex: 1;
            padding: 0 5px 0 5px;
            max-width: 800px;
        }

        .inputWrapper {
            flex: 1;
        }

        input[type=text] {
            width: 100%;
            background: rgba(255, 255, 255, 1);
            border: 1px solid var(--iborder);
            text-shadow: none;
            box-shadow: none;
            transition : border 500ms ease-out;
            outline: none;
            box-sizing: border-box;
            padding-left: 2rem;
        }
    }
}

#logo {
    height: 100%;
    flex: 1;
    text-align: right;
    justify-content: space-between;
    padding-left: 1rem;

    select {
        background: var(--nav-cat-bg);
        color: rgba(255, 255, 255, 0.8);
        font-size: .8rem;
    }
}

#nav-side-settings {
    margin-bottom: .3rem;

    label {
        color: rgba(255, 255, 255, 0.8);
        cursor: pointer;

        .volume_up {
            display: none;
        }

        .volume_down {
            display: inherit;
        }
    }

    i {
        font-size: 1rem;
        font-weight: 200;
    }

    label+input+label {
        margin-left: .3rem;
    }

    input {
        display: none;

        &:checked {
            & + label {
                color: var(--nav-sub-bg-hl);

                .volume_up {
                    display: inherit;
                }

                .volume_down {
                    display: none;
                }
            }
        }
    }
}

.ham-trigger {
    display: flex;
    color: #000;
    align-items: center;
    flex: 0;
    margin-right: 5px;

    i {
        font-size: 1.5rem;
    }
}

nav .ham-trigger {
    color: var(--txt-on-bg-c-2);
    margin: 0 0 0 5px;
    display: none;
}

.nav-trigger {
    position: absolute;
    display: none;

    &:checked + nav {
        width: 0%;
    }
}

#t-nav-container {
    margin-left: auto;
}

#nav-side-outer {
    overflow-y: auto;
    height: 100%;
    user-select: none;
    scrollbar-color: var(--btn-c-bg) var(--nav-cat-bg);
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--btn-c-bg);
    }

    &::-webkit-scrollbar-track {
        background: var(--nav-cat-bg);
    }
}

#nav-side-inner {
    flex: 0;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    border-top: 1px solid #4b5055;

    span {
        flex-grow: 1;
    }

    input {
        display: none;

        &:checked + ul {
            .expand {
                transition: all .3s ease;
                transform: rotateZ(90deg);
            }

            > li:nth-child(n+2), .expand {
                display: inherit;
            }
        }
    }

    input + ul {
        .expand {
            transition: all .3s ease;
            transform: rotateZ(0deg);
        }

        > li:nth-child(n+2) {
            display: none;
        }
    }

    label {
        display: flex;
        align-items: center;
        padding: .3rem .5rem .3rem .5rem;
        cursor: pointer;
    }

    > li {
        display: block;

        a {
            display: block;
            padding: .5rem .75rem .5rem .75rem;
            border-left: 3px solid transparent;

            &:hover, &:focus {
                background: var(--nav-sub-bg-hover);
                border-left: 3px solid var(--nav-sub-bg-hl);
            }
        }

        li {
            &:not(:first-child) {
                background: var(--nav-sub-bg);
            }

            a {
                &:hover, &.active, &:focus {
                    background: var(--nav-cat-bg-hover);
                }
            }
        }


        li:first-child {
            border-bottom: 1px solid #212628;
        }

        li:first-child {
            border-top: 1px solid #4b5055;
        }
    }

    > li:first-child {
        li:first-child {
            border-top: none;
        }
    }

    i {
        flex-grow: 0;

        &+span {
            margin-left: 5px;
        }
    }
}

#content {
    flex: 1;
    padding: 0 0 1rem 1rem;
    overflow-y: auto;
}

#t-nav {
    font-size: .8rem;
    color: #000;
    font-weight: 300;

    a {
        padding: 0 5px 0 5px;
        line-height: 25px;

        &:hover, &:focus {
            color: var(--lhover);
        }
    }

    i {
        margin-right: 10px;
        font-size: 1.2rem;
        font-weight: 200;
    }

    li {
        display: inline;
    }
}

#u-box {
    display: flex;
    align-items: center;
    padding: 0 1rem 0 1rem;
    height: 65px;
    border-bottom: 1px solid #212628;
    box-sizing: border-box;
    flex-shrink: 0;

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #fff;
    }

    a {
        display: inline-block;
    }
}

img.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
}

#iSearchType {
    min-width: 50px;
    background: var(--btn-c-bg);
    color: var(--txt-on-bg-c-2);
    width: auto;
    height: 30px;
    border: none;

    &::-moz-focus-inner {
        border: 0;
    }

    &:hover, &:focus {
        background: var(--btn-c-bg-hover);
    }

    label {
        color: var(--txt-on-bg-c-2);
    }

    .dropdown-closed {
        padding: 0 1rem 0 1rem;
    }

    .dropdown-container {
        background: var(--btn-c-bg);
        border: 0;
        white-space: nowrap;

        label {
            &:hover, &:focus {
                background: var(--btn-c-bg-hover);
            }
        }
    }
}

@media only screen and (max-width: 48em) {
    nav .ham-trigger {
        display: flex;
    }

    .nav-trigger:checked + nav {
        width: 100% !important;
    }

    .nav-trigger:checked ~ main {
        display: none !important;
    }

    main > header  {
        flex-flow: column;
        height: auto;
        padding: 1rem;

        form {
            width: 100%;
        }
    }

    #t-nav-container {
        order: -1;
        margin-bottom: .5rem;
    }
}

@media only screen and (max-width: 62em) {
    #t-nav .link {
        display: none;
    }

    .nav-trigger:not(:checked) + nav {
        width: 0%;
    }

    .nav-trigger:checked + nav {
        width: auto;
        min-width: 250px;
    }
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100;
    src: url('/Resources/fonts/googleicons/100.woff2') format('woff2');
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 200;
    src: url('/Resources/fonts/googleicons/200.woff2') format('woff2');
}

.g-icon {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    font-size: 1.5rem;
    font-weight: 200;
}