@media only screen and (min-width: 1101px) {
  .b-1 {
    width: 31.5%;
    width: calc(33.3% - 10px); }

  .b-2 {
    width: 48.5%;
    width: calc(50% - 10px); }

  .b-3 {
    width: 63%;
    width: calc(66.6% - 10px); } }
@media only screen and (min-width: 801px) and (max-width: 1100px) {
  .b-1 {
    width: 48.5%;
    width: calc(50% - 10px); } }
@media only screen and (max-width: 1100px) {
  .b-2, .b-3 {
    width: 100%;
    width: calc(100% - 10px); } }
@media only screen and (min-width: 801px) {
  .b-4 {
    width: 48.5%;
    width: calc(50% - 10px); } }
@media only screen and (max-width: 800px) {
  .b-1, .b-3 {
    width: 100%;
    width: calc(100% - 10px); }

  #logo {
    display: none; }

  #s-nav {
    width: 100%; }

  #s-bar input[type=text] {
    margin-left: 35px;
    width: 80%;
    width: calc(100% - 90px); } }
