@media only screen and (max-width: 500px) {
    nav .ham-trigger {
        display: flex;
    }
}

@media only screen and (max-width: 600px) {
    main > header  {
        flex-flow: column;
        height: auto;
        padding: 1rem;

        form {
            width: 100%;
        }
    }

    #t-nav-container {
        order: -1;
        margin-bottom: .5rem;
    }
}

@media only screen and (max-width: 1000px) {
    #t-nav .link {
        display: none;
    }
}