@import "_mixins", "_vars";

form {
    li {
        margin: 5px 0 5px 0;
    }
    
    td {
        white-space: nowrap;
        padding-bottom: 5px;
        
        textarea+i {
            vertical-align: top;
        }
    }
    
    label {
        font-size: 0.9em;
        color: #878787;
        text-shadow: -1px -1px 1px #ffffff;
    }
    
    i+i {
        margin-left: 3px;
    }
    
    .inputPrefix {
        border-left: 1px solid $content-border-color;
        border-top: 1px solid $content-border-color;
        border-bottom: 1px solid $content-border-color;
        line-height: 2em;
        height: 100%;
        background: #bebebe;
    }

    .layout td+td {
        padding-left: 5px;
    }
    
    .list {
        font-size: 0.9em;

        td {
            white-space: nowrap;
            padding: 3px 5px 3px 5px;
        }
    }
}
