.infoIcon {
    width: .9rem;
    text-align: center;
    vertical-align: middle;
    position: relative;
    cursor: pointer;

    span {
        font-size: .55rem;
        display: block;
        position: absolute;
        right: -.55rem;
        top: -.45rem;
        width: .9rem;
        height: .9rem;
        line-height: .9rem;
        border-radius: 50%;
        text-align: center;

        color: #fff;
        background: rgba(209, 96, 89, 1);
    }
}

