@import "_mixins", "_vars";

main {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;

    background: $background-color;
    transition: all 0.2s;
}
