/* Global */
/* Content Container */
/* Content box */
/* Navigation */
/* Colors */
.table {
  background: none; }
  .table caption {
    color: #fff; }
  .table thead {
    color: #fff; }
  .table.red caption, .table.red thead {
    background: #B8312F; }
  .table.orange caption, .table.orange thead {
    background: #FBA026; }
  .table.green caption, .table.green thead {
    background: #41A85F; }
  .table.blue caption, .table.blue thead {
    background: #2C82C9; }
  .table.white caption, .table.white thead {
    background: #fff; }

table.table {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  font-size: 0.9em;
  max-width: 100%;
  overflow: hidden; }
  table.table caption {
    background: #fff;
    border-right: 1px solid #b7b7b7;
    border-left: 1px solid #b7b7b7;
    border-top: 1px solid #b7b7b7;
    padding: 5px; }
  table.table td {
    padding: 5px 10px 5px 10px;
    white-space: nowrap; }
  table.table tbody td:first-child {
    border-left: 1px solid #b7b7b7; }
  table.table tbody td:last-child {
    border-right: 1px solid #b7b7b7; }
  table.table tbody td {
    border-top: 1px solid #b7b7b7;
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff; }
  table.table tbody tr {
    height: 2rem; }
    table.table tbody tr:nth-of-type(2n) {
      background: #f8f8f8; }
    table.table tbody tr:nth-of-type(2n+1) {
      background: #fff; }
    table.table tbody tr:hover {
      background: #f0f0f0; }
  table.table tbody tr:last-child td {
    border-bottom: 1px solid #b7b7b7; }
  table.table thead {
    background: #fff; }
    table.table thead td:first-child {
      border-left: 1px solid #b7b7b7; }
    table.table thead td:last-child {
      border-right: 1px solid #b7b7b7; }
  table.table .empty {
    text-align: center;
    color: #d8d8d8; }
  table.table tfoot {
    border: none; }
    table.table tfoot label {
      float: left; }
    table.table tfoot select {
      width: auto;
      float: right;
      margin: 0;
      min-width: 0px; }
    table.table tfoot td {
      text-align: center;
      padding-top: 10px; }

table.list th {
  text-align: left; }
table.list td {
  padding: 2px 5px 2px 5px; }

@media screen and (max-width: 600px) {
  table.table {
    display: table;
    table-layout: fixed;
    width: 100%;
    border: 0; }
    table.table thead {
      display: none; }
    table.table tbody tr {
      height: auto;
      display: block;
      margin-bottom: .625em; }
      table.table tbody tr td:last-child {
        border-bottom: 1px solid #b7b7b7; }
      table.table tbody tr:last-child td {
        border-bottom: none; }
        table.table tbody tr:last-child td:last-child {
          border-bottom: 1px solid #b7b7b7; }
    table.table tbody td {
      border-left: 1px solid #b7b7b7;
      border-right: 1px solid #b7b7b7;
      display: block;
      font-size: .8rem;
      text-align: right;
      position: relative;
      height: 2rem;
      line-height: 2rem;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100%; }
      table.table tbody td:before {
        content: attr(data-label);
        float: left;
        margin-right: 10px;
        font-weight: bold; }
    table.table tfoot {
      display: none; } }
.nobreak {
  white-space: nowrap; }

/*# sourceMappingURL=table.css.map */
