.qa-list {
    .score {
        &.closed {
            background: #f00;
        }

        &.open {
            background: #ff0;
        }

        &.done {
            background: #0f0;
        }

        padding: 10px;
        margin-right: 10px;
        border: 1px solid #ccc;
    }

    .scores {
        flex-basis: min-content;
    }

    .title {
        a {
            font-size: 2rem;
        }
    }

    .tags {
        margin-top: 10px;
    }
}
