.tab:not(.active) {
    display: none
}

.tab-links a {
    padding: 5px;
    background: #fff;
    font-size: 0.9em
}

.tab-links .active a {
    background: #e74b3c;
    color: #fff
}

.tab-links li {
    display: inline-block;
    margin: 10px 0 5px 5px
}
